// Colors
$primaryGreen: #19CCA3;

$backgroundColor: #FAFBFF;
$tooltipBackgroundColor: #E3EBFC;
$progressBackgroundColor: #B6F2E4;
$progressBarColor: $primaryGreen;
$bodyTextColor: #4E5468;
$formSubmitBackgroundColor: $primaryGreen;
$formMaskColor: #9298AD;
