.donate-box {
  display: flex;
  flex-direction: column;
}
.donate-box__outer {
  position: relative;
  width: 420px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .10);
  background-color: #fff;
  margin-top: 15px;
  padding:2.5rem;
  overflow: hidden;
}
.donate-box__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.donate-box__text {
  color: $bodyTextColor;
  margin-bottom: 2rem;
}
.donate-box__total-donors {
  color:#000;
  font-family: 'Poppins', sans-serif;
}
